.footer-container{
    width: 100%;
    height: 200px;
    background: white;
    color:black;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    border-top: 1px solid gray;
    gap: 20px;
}
.right{
    flex: 1;
}
.left{
    flex: 1;
}