.head{
    text-align: center;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}